.container{
  // margin-top: 2rem;
  margin-bottom: 2rem;
}

.itemContent{
  display: flex;
  height: 100vh;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    height: unset;
  }
}

.imageCarousel{
  flex: 0.6;
  height: 100%;
  position: relative;

  .wishlist{
    position: absolute;
    top: 2%;
    right: 2%;
  }

  @media screen and (max-width: 450px) {
   
  }


}

.itemInfo{
  flex: 0.4;
  padding-left: 2rem;

  
  .colors{
    margin-top: 1rem;

    p{
      font-size: 12px;
      color: var(--color-offBlack);
    }
  }
  
  .cart{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    height: 37px;
    
    .qty{
      flex: 0.5;
      margin-right: 0.5rem;
    }
    
    .add{
      flex: 0.5;
    }
  }

  @media screen and (max-width: 450px) {
    padding-left: unset;
    margin-top: 1rem;
  
    .cart{
      flex-direction: column;
      height: 80px;
      margin-bottom: 0.7rem;
  
      .qty{
        height: 200px;
        margin-bottom: 0.7rem;
        margin-right: unset;
      }
    }
  }
}

.stock{
  display: flex;
}

.similarItems{
  margin-top: 1rem;
}