.container{
  // position: absolute;
  // overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: aliceblue;
}

.breadcrums{
  display: flex;
  justify-content: space-between;

  .user{
    flex: 0.3;
    display: flex;
    justify-content: flex-end;

    p{
      font-size: 12px;
      text-overflow: clip;
    }

    svg{
      color: var(--color-primary);
    }
  }


  .continue{
    p{
      color: var(--color-primary);
      font-size: 14px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg{
        margin-right: 0.5rem;
      }
    }
  }
}

.top{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--color-secondary);
  padding-bottom: 0.5rem;

  .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
      font-family: var(--font-family);
      font-size: 25px;
      color: var(--color-secondary);
      text-transform: capitalize;
      margin-bottom: 0.5rem;
    }

    p{
      margin: 0;
    }
  }


  @media screen and (max-width: 450px) {
    .heading{
      justify-content: space-between;
      h3{
        text-align: center;
        font-size: 16px;
      }
    }

    .user{
      flex: 0.2;
      // justify-content: flex-end;
    }

    .continue{
      font-size: 12px;
    }
  }
}

.content{
  margin: 2rem 0;
}

.no_items{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h4{
    font-family: var(--font-family);
  }
}

.checkout{
  display: flex;
  justify-content: flex-end;

  p{
    font-weight: 100;
    color: var(--color-offBlack);
    margin-bottom: 0.1rem;
    font-size: 14px;
  }

  h5{
    color: black;
    font-weight: 200;
    font-size: 20px;
    margin: 0.5rem 0 0.5rem 0;
    font-family: var(--font-family);
  }

  .total{
    display: flex;
    justify-content: space-between;
  }
  
  .btn{
    width: 100%;
    height: 50px;
    padding: 1rem auto 2rem auto;
    font-family: var(--font-family);
    background-color: var(--color-primary);
  }
 
  .bag_totals{
    width: 40%;
  }

  .total{
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 450px) {
    .bag_totals{
      width: 100%;
    }
  }
}