.container{
  // border: 1px solid var(--color-offBlack);
  outline: 1px solid #e3e3e3;
  background-color: white;
  box-shadow: 0 4px 6px rgb(0 0 0 / 4%);;
  border-radius: 30px;
  transition: all 0.3s;
  width: 100%;
  overflow: hidden;

  &:hover{
    transform: scale(1.02);
  }
}

.top{
  display: flex;
  align-items: center;
  cursor: pointer;
  // box-shadow: 0 4px 6px rgb(0 0 0 / 10%);;

  .icon{
    flex: 0.15;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1e1d5ce;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 30px 0 0 30px;

    transition: all 0.3s;

    svg{
      height: 30px;
      width: 30px;
      color: var(--color-offBlack);
    }
  }

  .question{
    h4{
      margin: 0;
      font-family: var(--font-family);
      color: var(--color-offBlack);
      font-size: 16px;
    }

    @media screen and (max-width: 450px) {
      h4{
        font-size: 14px;
      }
    }
  }

  .question{
    flex: 0.85;
    display: flex;
    // margin-left: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    // background-color: aliceblue;

    @media screen and (max-width: 450px) {
      margin-left: 1rem;
    }
    // justify-content: center;
  }
}

.answer{
  // padding: 1rem;
  // height: 0px;
  // background-color: white;
  background-color: rgb(249, 249, 250);
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  transition: max-height 0.3s;

  p{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: 0;
    width: 100%;
    padding: 1rem;
  }

  @media screen and (max-width: 450px) {
    p{
      width: 100%;
      font-size: 12px;
    }
  }
}