.container{
  padding: 1rem;
  width: 100%;
  height: auto;
}

.heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items{
  width: 100%;
  border-bottom: 1px solid black;
  
  .item{
    display: flex;
    align-items: center;

    .name{
      flex: 0.9;
    }

    .qty{
      flex: 0.1;
    }

    .price{
      flex: 0.1;
    }
  }
}

.totals{
  div{
    display: flex;
    justify-content: space-between;
  }
}

.pay{
  width: 100%;
  display: flex;
  justify-content: center;
}