.colors{
  display: flex;
}

.color{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: 1px solid rgb(145, 143, 143);

  transition: all 0.3s;

  &:hover{
    transform: scale(1.08);
  }
}