.content{
}

.item{
  display: flex;
  align-items: center;


  a{
    display: flex;
    align-items: center;
  }

  svg{
    height: 22px;
    width: 22px;
    margin-right: 1rem;
    color: #f6f6f6;
  }

  p{
    margin: 0.5rem 0;
  }

  p:nth-child(2){
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-family: var(--font-family);
    margin: 0.5rem 0;
    color: #f6f6f6;
    border-bottom: 2px solid var(--color-secondary);
  }
}