.card{
  width: 100%;
  // height: 400px;
  position: relative;
  height: auto;
  // cursor: pointer;
  // border-radius: 20px;
  transition: all 0.3s;
  // outline: 1px solid #e3e3e3;
  // box-shadow: 1px 0px 1px var(--color-secondary);
  box-shadow: 0 4px 6px rgb(0 0 0 / 4%);
  transform: skew(-2deg);


  &:hover{
    transform: scale(1.01);
  }

  @media screen and (max-width: 450px) {
    // height: 450px;
  }
  
}

.image{
  position: relative;
  width: 100%;
  height: 200px;

  .imageContainer{
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .wishlist{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 3;
  }

  .stock{
    position: absolute;
    top: 15%;
    left: 33%;
    z-index: 14;
    background-color: white;
    border-radius: 20px;
    padding: 0.3rem 1rem;

    p{
      color: rgb(181, 83, 83);
      font-family: var(--font-family);
      font-weight: 300;
      font-style: italic;
      font-size: 14px;
      margin: 0;
    }

    @media screen and (max-width: 450px) {
      top: 15%;
      left: 30%;

      p{
        font-size: 12px;
      }
    }
  }
  // border-radius: 20px;
}

.content{
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  // height: 200px;
  width: 100%;
  flex-direction: column;
  // justify-content: space-evenly;
  border-radius: 20px;
  align-items: flex-start;
}

.category{
  flex: 0.1;
  // margin: 0.1rem 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-offBlack);
  border-bottom: 1px var(--color-offBlack) solid;
  font-size: 10px;

  @media screen and (max-width: 450px) {
    font-size: 12px;
  }
}

.name{
  // width: 100%;
  // text-align: center;
  flex: 0.4;
  font-size: 20px;
  margin: 1rem 0;
  font-weight: 700;
  min-height: 40px;
  color: var(--color-secondary);
  text-transform: capitalize;
  font-style: italic;
  font-family: var(--font-family);
  // margin: 1rem 0;

  @media screen and (max-width: 450px) {
    font-size: 15px;
  }
}


.button{
  width: 50%;
  // margin: 0 auto;
  color: white;
  // border-radius: 50%;
  // height: 50px;
  // width: 50px;
}

.price{
  color: var(--color-secondary);
  font-family: var(--font-family);
  flex: 0.4;
  // margin: 0.5rem 0;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 14px;

  @media screen and (max-width: 450px) {
    font-size: 15px;
  }
}

.colors{
  // margin-top: 1rem;
  display: flex;
  flex:0.2;
  background-color: #f5f5f5;
  width: 100%;
  padding: 0.3rem;
  border-radius: 20px;
}

.color{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 0.3rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &.activeColor{
    // border: double 1px var(--color-offBlack);
    transform: scale(1.05);
  }

  @media screen and (max-width: 450px) {
    width: 18px;
    height: 18px;
  }
}

.buttons{
  position: relative;
  height: 200px;
  z-index: 2;
  transition: all 0.3s;

  svg{
    color: white;
    height: 32px;
    width: 32px;
    z-index: 10;
    opacity: 1;
    border-radius: 10px;

    // transition: all 0.3s;

    // &:hover{
    //   background-color: rgba(240, 248, 255, 0.291);
    // }
  }

  .addToCart{
    position: absolute;
    left: 10%;
    top: 35%;
  }

  .preview{
    position: absolute;
    right: 10%;
    top: 35%;
  }

  .addToCart,.preview{
    transition: all 0.3s;
    border-radius: 10px;
    &:hover{
      background-color: rgba(240, 248, 255, 0.291);
    }
  }

  &:hover{
    background-color: rgba(0, 0, 0, 0.223);
  }
}

.addToCard svg{
  position: absolute;
  top: 20;
  left: 0;
  z-index: 10;
}

.view{
  flex:0.3;
  width: 100%;
  display: flex;
  justify-content: center;
  p{
    color: black;
    font-size: 12px;
    // margin: 0.3rem;
    // margin-bottom: 0;

    #eye{
      margin-top: 0;
    }
  }
}