.container{
  // margin-top: 2rem;
}

.itemContent{
  display: flex;
  height: 100vh;
}

.imageCarousel{
  flex: 0.6;
}

.itemInfo{
  flex: 0.4;
  padding-left: 2rem;

  .colors{
    margin-top: 1rem;
  }

  // .qty{
  //   margin-top: 1rem;
  // }

  .cart{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    height: 37px;

    .qty{
      flex: 0.5;
      margin-right: 0.5rem;
    }

    .add{
      flex: 0.5;
    }
  }

  .buy{
    margin-top: 1rem;
  }
}