.container{
  margin-top: 1rem;
  height: 100vh;
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: aliceblue;
}

.banner{
  position: relative;
  height: 20%;
  width: 100%;
  img{
    border-radius: 40px 40px 0 0;
    // filter: blur(1px);
  }

  .heading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.069);
    display: flex;
    align-items: flex-end;
    border-radius: 40px 40px 0 0;
    
    h1{
      font-family: var(--font-family);
      text-transform: capitalize;
      color: var(--color-offBlack);
      // color: var(--color-secondary);
      // color: aliceblue;
      padding-left: 2rem;
      font-size: 48px;
    }
  }
}