.container{
  margin-top: 2rem;
  height: 80vh;
  position: relative;
  
  img{
    height: 100%;
    width: 100%;
    
    &:after{
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
  }
}